extends ../layout

block content
    p=body
    form(action="/auth/login", method="POST")
        .form-group
            label(for='email') Correo electrónico
            input#email.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Ingrese su correo electrónico')
            small#emailHelp.form-text.text-muted Nunca compartiremos su correo electrónico con alguien más.
        .form-group
            label(for='password') Contraseña
            input#password.form-control(type='password', name='password', placeholder='Ingrese su contraseña')
        button.btn.btn-primary(type='submit') Iniciar sesión